body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 ,h3{
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  button {
     margin-top: 10px;
     color: white;
     background-color: rgb(1, 52, 52);
     border-radius: 5px;
     padding: 8px;
     cursor: pointer;
  }

  #add-row:hover {
    background-color: antiquewhite;
    color: black;
  }

  #generate-answer:hover{
    background-color: antiquewhite;
    color: black;
  }
  
  .delete-row:hover {
    background-color: rgb(243, 75, 75);
    color: black;
  }