 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 15px;
  }

  .container{
    border: 2px solid blueviolet;
    border-radius: 15px;
    padding: 0px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3{
    margin-top: -5px;
  }

  h1 ,h3{
    text-align: center;
  }
  
  #input-form {
    margin: 50px 30px 20px;
    width: auto;
  
  }
  
  .first-table{
    
    width: 100%;
  }
  

  table, th, td {
    
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
  }

  .delete-row{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .delete-row:hover {
    background-color: rgb(236, 223, 223);
    color: rgb(222, 15, 15);
    border: 1px solid red;
  } 


.button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-primary {
  color: white;
  background-color: rgb(1, 52, 52);
}

.button:hover {
  background-color: antiquewhite;
  color: black;
}

/* Background Colors */
.bg-aqua {
  background-color: aqua;
}

.bg-bisque {
  background-color: bisque;
}

.ans-last-row{
  background-color: rgb(231, 241, 90);
}

#answer-table{
  margin-top: 25px;
  width: auto;
  /* background-color: red; */
}

.ans-table th,
.ans-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;

}

table tbody tr .ans-p,table tbody tr .ans-at, table tbody tr .ans-bt,table tbody tr .ans-st, table tbody tr .ans-et, table tbody tr .ans-wt, table tbody tr .ans-tat{
  width: 100px;
}

.para{
  width: 70%;
}
.read-more{
  margin-top: 13px;
  font-size: 18px;
  margin-bottom: 30px;
}

@media (max-width: 530px) {

  #input-table tr .arrival-time, #input-table tr .burst-time{
    padding: 5px;
    width: 50px;
  }

  table tbody tr .ans-p,table tbody tr .ans-at, table tbody tr .ans-bt,table tbody tr .ans-st, table tbody tr .ans-et, table tbody tr .ans-wt, table tbody tr .ans-tat{
    width: auto;
  }
}


